.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: var(--navbar-color);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--lightGray-color);
  position: fixed;
  z-index: 2;

}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 2rem;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }

}
.app__navbar-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  right: 2rem;
  background: #3185FC;

  img {
    width: 90px;
    height: 20px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }

}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;


      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

.backdrop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}
  svg {
    width: 70%;
    height: 70%;
    color: #ffffff;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;

  /*  padding: 1rem;*/
    padding-top: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    background-color: var(--white-color);

    /* top box shadow */
    /*box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);*/

    svg {
      width: 35px;
      height: 35px;
      color: var(--black-color);
      margin: 0.2rem 2rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li {
        margin: 1rem;


        a {

          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 600;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }

}
