@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('http://fonts.cdnfonts.com/css/provicali');
@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('http://fonts.cdnfonts.com/css/rubik');
@import url('http://fonts.cdnfonts.com/css/aileron');
@import url('http://fonts.cdnfonts.com/css/poppins');
@import url('http://fonts.cdnfonts.com/css/nunito');
@import url('http://fonts.cdnfonts.com/css/fontawesome');

:root, :root.light {
    --font-base: 'Poppins', 'Montserrat', 'Aileron', sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #3185FC;
    --secondary-color_2: #670FF7;
    --light-green: #1BF178;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --navbar-color: rgba(255,255,255, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.2)
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #000;
        --secondary-color: #3185FC;
        --secondary-color_2: #670FF7;
        --light-green: #1BF178;
        --black-color: #ffffff;
        --lightGray-color: #646464;
        --gray-color: #6b7688;
        --brown-color: #46364a;
        --white-color: #1d1d1d;
        --navbar-color: rgba(0,0,0, 0.5);
        --box-shadow-color: rgba(255, 255, 255, 0.1)
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
